*{
	margin: 0 auto;
	font-family: 'Lato', sans-serif;

}
body{
	
	padding: 0;
	width: 100%;

  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #ededed;
}
.main-header{
width: 85%;
}
.main-header ul{
	display: flex;
	justify-content: center;
	list-style: none;
	color: #8a8a8a;
	background-color: #f4f3ee;
	padding: 10px;
	line-height: 1.4;
	font-size: 12px;
	font-weight: bold;
	}
.main-header li{
margin: 0 20px;
	}
.main-header li:nth-child(2),
.main-header li:nth-child(3){
display: none;
	}

.main-header p{
text-align: center;
padding: 20px;
background-color: #ffffff;
}
.main-content {
	width: 85%;
	text-align: center;
	padding-top: 35px;
	background-color: #f4f3ee;
}
.main-content h1 {
	font-size: 36px;
	line-height: 1.15;
	font-weight: 400;
	font-family: 'PT Serif', serif;
}
.main-content p{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 16.8px;
	color: #b4b4b4;
	margin-top: 20px;
	font-weight: 400;

}
.main-content p + p {
	font-size: 12px;
	line-height: 14.4px;
	color: #b4b4b4;
	margin-top: 20px;
	font-weight: 700;
}
.main-content img{
  width: 94%;
  height: auto;
	}
.main-content--flex{
	display: flex;
	flex-direction: column; 
background-color: #f4f3ee;
}
.main-content--flex a {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 14px;
	background-color: #cd627d;
	color: #ffffff;
	text-decoration: none;
	margin: 25px auto auto auto;
	font-weight: 700;
	height: 32px;
	width: 236px; 
	padding-top: 18px;
}
.main-content--flex a:hover {
	background-color: #000000;
	color: #ffffff;
}
.contanier{
	background-color: #ffffff;
	width: 100%;
}
.contanier .stars {
	margin-top: 40px;
	width: 111px;
	margin-bottom: -10px;
}
.main-content--flex p{
font-family: 'Lato', sans-serif;
	font-size: 12px;
	line-height: 14.4px;
	color: #c6c6c6;
	margin-top: 20px;
	font-weight: 700; 	
}
.main-content--line{
	margin-top: 30px;
	height: 10px;
	width: 888px;
	box-sizing: border-box;
	border-top: 1px solid #c6c6c6;
}
.main-advantages {
	width: 85%;
	text-align: left;
	padding-top: 35px;
	background-color: #f4f3ee;
	display: flex;
}
.main-advantages img{
	width: 43.5%;
	height: 40%;
	margin: 0 0 0 65px;
}
.main-advantages ul{
	margin: 0 0 0 0;
	list-style: none;
	
}
.main-advantages li{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 35px;
	color: #222222;
	margin-top: 20px;
	font-weight: 400;
	margin: -5px 0 5px -15px;

}

.main-advantages li:first-child{
	font-family: 'PT Serif', sans-serif;
	font-size: 28px;
	line-height: 33.6px;
	color: #000000;
	font-weight: 400;
}
.main-description {
	width: 85%;
	text-align: center;
	padding-top: 35px;
	background-color: #ffffff;
}
.main-description p{
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	line-height: 15.6px;
	font-weight: 700;
	color: #000000;
	vertical-align: center;
}
.main-description h2{
font-family: 'PT Serif', sans-serif;
	font-size: 24px;
	line-height: 31.2px;
	color: #000000;
	font-weight: 400;
	text-align: center;
	word-spacing: 0px;
	margin-bottom: 12px;
}
.main-description__flex-contanier{
	
	display: flex;
	flex-direction: row;
	width: 83%;
	list-style: none;
	
}
.main-description__flex-contanier p{
	margin-left: -35px;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	line-height: 17.6px;
	font-weight: 400;
	color: #000000;
}
.main-description__flex li img{
	width: 200px;
	height: 200px;
	margin-left: -35px;
} 

.main-famous-customers p {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	line-height: 15.6px;
	font-weight: 700;
	color: #000000;
	text-align: center;
	padding-top: 50px;
}		
.main-famous-customers{
	background-color: #ffffff;
	color: #000000;
	width: 85%;
}
.main-famous-customers h2{
	font-family: 'PT Serif', sans-serif;
	font-size: 24px;
	line-height: 31.2px;
	color: #000000;
	font-weight: 400;
	text-align: center;
	word-spacing: 0px;
	margin-bottom: 12px;	
}
.main-famous-customers__flex{
	display: flex;
	flex-direction: row;
	list-style: none;
	width: 83%; 
}
.main-famous-customers__flex img{
	width: 200px;
	height: 200px;
	margin-left: -35px;
}
.main-famous-customers__flex p {
	margin: -45px 0px 50px -15px;
	font-weight: 400;
}
.main-easy-dreams {
	background-color: #f4f3ee;
	width: 85%;
	padding-bottom: 100px;

}
.main-easy-dreams__flex {
	display: flex;
	flex-direction: row;
	list-style: none;
	width: 80%;
	margin-left: 75px;
}
.main-easy-dreams__flex img{
	width: 275px;
	height: 275px;

}
.main-easy-dreams p{
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	line-height: 15.6px;
	font-weight: 700;
	color: #000000;
	text-align: center;
	padding-top: 50px;
}
.main-easy-dreams h2{
font-family: 'PT Serif', sans-serif;
	font-size: 24px;
	line-height: 31.2px;
	color: #000000;
	font-weight: 400;
	text-align: center;
	word-spacing: 0px;
	margin-bottom: 50px;
}
.main-easy-dreams__flex p:nth-of-type(1){
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: 700;
	color: #cd627d;
	margin-top: -40px;
}
.main-easy-dreams__flex p:nth-of-type(2){
	margin-top: -50px;
}
.contanier-button p{
	font-family: 'PT Serif', sans-serif;
	font-size: 28px;
	line-height: 33.6px;
	color: #000000;
	font-weight: 400;
	text-align: center;
	word-spacing: 0px;
	

}
.contanier-button a{
	text-decoration: none;
}
.contanier-button a p {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 14px;
	background-color: #cd627d;
	color: #ffffff;
	text-decoration: none;
	margin: 25px auto auto auto;
	font-weight: 700;
	height: 32px;
	width: 236px; 
	padding-top: 18px;
	text-decoration: none;

}
.contanier-button a p:hover {
	background-color: #000000;
	color: #ffffff;
}


@media screen and (max-width: 768px) {
.main-header li:first-child,
.main-header li:last-child,
.main-header li:nth-child(4){
display: none;
}
.main-header li:nth-child(2),
.main-header li:nth-child(3){
display: block;
	}
	.main-header li{
margin: 0 0;
color: #b4b4b4;
	}
.main-header{
width: 75%;
}
.main-header img{
	height: 26px;
	width: 51px;
}

}

